{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/pyth.css' %}" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <title>Goals</title>
  </head>
  <body>
    <h1 class="goal">Goal</h1>
    <h1 class="digger">DIGGER</h1>
    <nav>
      <a href="/">HOME</a>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
